html {
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

* {
   box-sizing: border-box;
}



#main-form {
   display: flex;
   flex-direction: column;
   width: calc(40rem + 20px);
   padding: 10px;
   align-items: start;
   align-self: center;
   margin-left: 25%;

}

h1 {
   align-self: center;
}

a {
   text-decoration: none;
}

input {
   flex-grow: 1;
   flex-shrink: 0;
   width: 633px;
   margin: 6px;
   padding: 10px;
   border-radius: 3px;
   box-shadow: none;
   border-style: solid;
}

.half-container {
   width: 640px;
   display: flex;
   justify-content: space-between;
}

.half {
   flex-grow: 1;
   width: 308px;
}

button {
   border: 0;
   width: 308px;
   margin: 6px;
   padding: 10px;
   border-radius: 3px;
}

.check-box {
   width: min-content;
}

.blue {
   background-color: #428BCA;
   border-radius: 3px;
}

.green {
   background-color: #5CB85C;
}

.agree-row {
   display: flex;
   align-items: center;
   justify-content: space-between;
   width: 640px;
}

.agree-row .box {
   width: 10%;
   text-wrap: nowrap;
}

.agree-text {
   width: 80%;
   text-wrap: wrap;

}

.input-container {
   display: flex;
   flex-direction: row;
}